<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="container col-md-3">      
      <form action="/filter" class="form-signin" method="POST">
          <input type="text" class="form-control" name="nameFilter" placeholder="Name">
          <input type="email" class="form-control" name="emailFilter"  placeholder="Email address" autofocus>                 
          <input type="text" class="form-control" name="etypeFilter" placeholder="Employee type">          
          <button type="submit" class="btn btn-lg btn-primary btn-block">Filter</button>
      </form>      
      </div>
    <div class="container">           
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>            
            <th>Email</th>
            <th>Emp Type</th>
            <th>Rate/hr</th>
            <th>Total hour Worked</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <% if(records.length > 0) { %>
          <% records.forEach(function(row){%>
            <tr>
              <td><%= row.name %></td>
              <td><%= row.email %></td>
              <td><%= row.etype %></td>
              <td><%= row.ratePerHour %></td>
              <td><%= row.totalHourWorked %></td>
              <td><%= row.totalSal %></td>
            </tr> 
          <% }) }else{  %>  
            <tr>
              <td class="font-weight-normal">No records found</td>
            </tr> 
            <% } %>             
        </tbody>
      </table>
    </div>    
    <div class="container col-md-3 jumbotron text-center">
      <form action="/" class="form-signin" method="POST">
          <input type="text" class="form-control" name="name" placeholder="Name" required>
          <input type="email" class="form-control" name="email"  placeholder="Email address" required autofocus>                 
          <input type="text" class="form-control" name="etype" placeholder="Employee type" required>
          <input type="text" class="form-control" name="rateHour" placeholder="Rate per hour" required>
          <input type="text" class="form-control" name="totalhourworked" placeholder="Total hour worked" required>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Insert</button>
      </form>
      </div>
  </body>
</html>
